@import "tailwindcss";
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
=======

>>>>>>> b7f7830cb44cfb4bba425c4b0b2c5a405505a955


